.container {
    display: flex;
    flex-direction: column;
}

.messages {
    overflow-y: scroll;
    overflow-x: hidden;
    flex-grow: 1;
    padding: 20px;
}

h2 {
    text-align: center;
    padding: 20px 0;
    margin: 0;
    border-bottom: 1px solid #ddd;
    background-color: #dd4814;
    color: #ffffff;
}

.chat-input {
    position: relative;
    overflow: hidden;
    padding-left: 10px;
    flex-shrink: 0;
}


.message.from-me .username {
    display: block;
}

.message.from-me {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 5px;
}

.message.from-me .message-body {
    display: inline-block;
    background-color: #E77E5A;
    color: white;
}

.message {
    margin-bottom: 20px;
}

.message-body {
    max-width: 80%;
    display: inline-block;
    padding: 20px;
    background-color: rgba(187, 136, 165, 0.39);
    border: 1px;
    border-radius: 5px;
    padding-right: 50px;
}

.username {
    font-weight: bold;
    font-size: 0.9rem;
    color: #772953;
    margin-bottom: 5px;
}

.thinking {
    margin-left: 20px;
    font-style: italic;
    color: #773f59;
    margin-bottom: -20px;
    font-size: 18px;
}

.thinkingimg {
    margin-left: -40px;
}

.chat-input-box {
    float: left;
    width: 90%;
}

.dict-btn-box {
    margin-left: -15px;
    float: left;
    width: 10%;
}

.dict-btn {
    margin: 10px 0;
    padding: 10px 0;
    width: 100%;
    border: none;
    outline:none;
}

.dict-btn-active{
    margin: 10px 0;
    padding: 10px 0;
    width: 100%;
    border: none;
    outline:none;
    background-color: #dee0e0;
}

.btnClass1 {
    margin: 10px 0;
    padding: 10px 0;
    width: 100%;
    border: none;
    outline:none;
}



